<div id="content">
    <div class="card" id="school">
        <div class="logo"></div>
        <div class="detail">
            <h4>Balangoda Ananda Maithreya Central College</h4>
            <h4>G.C.E. O/L 6A 1B 1C 1S</h4>
            <h4>G.C.E. A/L 2A(Physics,Com.Maths) B(Chemistry)</h4>
        </div>
    </div>
    <div class="card" id="university">
        <div class="logo"></div>
        <div class="detail">
            <h4>BSc (Hons) Software Engineering</h4>
        </div>
    </div>
</div>
