<div id="homeContainer">
    <div class="flexbox">
        <div class="profilepic"></div>
        <div class="bio">
            <h2>Jeewantha Lahiru</h2>
            <p>
                Balangoda,Sri Lanka<br>
                second year Undergraduate<br>
                Bsc(Hons.)in Software Engineering<br>
                University of Kelaniya<br>
            </p>
        </div>
    </div>
    <hr>
    <div class="profile">
        <h1>Profiles</h1>
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
    </div>
</div>
