#homeContainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 100%;
}


.row{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.square{
    width: 3.4vw;
    height: 3.4vw;
    background-color:white;
    margin: 0 1.5vw;
    border-radius: 50%;
    transition: .4s;
}
.square:hover{
    background-color: #c4c4c4;
}
.square img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7vw;
}


/*personal Area*/
.txtarea{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.txtarea div{
    width: 100px;
    padding: 5px 5px;
}
.txtarea input{
    border: none;
    background-color:#444;
    border-radius: 5px;
    padding: 5px 5px;
    color: darkgray;
}








#profileid{
    font-size: 200%;
    font-weight: bold;
}

.homebody{
    display: flex;
    flex-direction: row;
    background-color:#ebebeb;
}
#homebody001{
    background-color: #444;
}
#homeDetail{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: white;
    padding: 15px 15px 0 15px;
}
.profile{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.profile h1{
    text-align: center;
    margin: 10px;
}


#line{
    margin-top: 50px;
    margin-bottom: 50px;
}