<div id="homeContainer">
    <div class="flexbox">
        <div class="profilepic">
            <div class="profilePhoto"></div>
            <div class="contact-bar">
                <div class="contact" id="left-contact"></div>
                <div class="contact" id="right-contact"></div>
            </div>
        </div>
        <div class="bio">
            <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
            <h1>I am 
            <span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ "Jeewantha Lahiru.", "an undergraduate Software Engineer", "from Balangoda" ]'></span>
            </h1>
        </div>
    </div>
    <hr>
    <div class="profile">
        <h1>Profiles</h1>
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
        <div class="row">
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
        </div>
    </div>
</div>

<script>
  
</script>
