<div class="navflex">
  <div id="myDIV">
    <button class="btn" routerLink='home' [routerLinkActive]="['active_css_class']">Home</button>
    <button class="btn" routerLink="education" [routerLinkActive]="['active_css_class']">Education</button>
    <button class="btn" routerLink='skills' [routerLinkActive]="['active_css_class']">Skills</button>
    <button class="btn" routerLink='project' [routerLinkActive]="['active_css_class']">Projects</button>
    <button class="btn" routerLink='contact' [routerLinkActive]="['active_css_class']">Contact</button>
  </div>
  <div id="content">
    <div class="flexbox">
      <div class="profilepic">
          <div class="profilePhoto"></div>
          <div class="contact-bar">
              <div class="contact" id="left-contact"></div>
              <div class="contact" id="right-contact"></div>
          </div>
      </div>
      <div class="bio">
          <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
          <h1>I am 
          <span
              class="txt-rotate"
              data-period="2000"
              data-rotate='[ "Jeewantha Lahiru.", "an undergraduate Software Engineer.", "from Balangoda." ]'></span>|
          </h1>
          <h2>“Simplicity is the soul of efficiency.” </h2>
      </div>
  </div>
    <router-outlet></router-outlet>
  </div>
</div>
